{% extends 'base.html' %}

{% block title %}Agility App{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="page_content">
    <h1>Account Details</h1><br/>
    <strong>Name:</strong>
	{{ current_user.name }}<br/><br/>

	<strong>User ID:</strong>
	{{ current_user.id }}<br/><br/>

    <strong>Role:</strong>
	{{ current_user.role.value }}<br/><br/>

    <strong>Phone Number:</strong>
	{{ current_user.phone_number }}<br/><br/>

	<strong>Email:</strong>
	{{ current_user.email }}<br/><br/>

    <strong>Password:</strong>
	{{ current_user.password }}<br/><br/>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.password}}
        {{ form.submit}}
    </form><br/><br/>

    <h1>Themes</h1><br/>
    <h2>Main</h2><br/>
    <button style="margin-right: 10px;" onclick="location.href='/set/main'">Default</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/main_times_new_roman'">Times New Roman</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/main_lucida'">Lucida Sans</button>
    <button onclick="location.href='/set/main_courier'">Courier New</button><br/><br/>

    <h2>Protanopia</h2><br/>
    <button style="margin-right: 10px;" onclick="location.href='/set/protanopia'">Default</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/protanopia_times_new_roman'">Times New Roman</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/protanopia_lucida'">Lucida Sans</button>
    <button onclick="location.href='/set/protanopia_courier'">Courier New</button><br/><br/>

    <h2>Deuteranopia</h2><br/>
    <button style="margin-right: 10px;" onclick="location.href='/set/deuteranopia'">Default</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/deuteranopia_times_new_roman'">Times New Roman</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/deuteranopia_lucida'">Lucida Sans</button>
    <button onclick="location.href='/set/deuteranopia_courier'">Courier New</button><br/><br/>

    <h2>Tritanopia</h2><br/>
    <button style="margin-right: 10px;" onclick="location.href='/set/tritanopia'">Default</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/tritanopia_times_new_roman'">Times New Roman</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/tritanopia_lucida'">Lucida Sans</button>
    <button onclick="location.href='/set/tritanopia_courier'">Courier New</button><br/><br/>

    <h2>Achromatopsia</h2><br/>
    <button style="margin-right: 10px;" onclick="location.href='/set/achromatopsia'">Default</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/achromatopsia_times_new_roman'">Times New Roman</button>
    <button style="margin-right: 10px;" onclick="location.href='/set/achromatopsia_lucida'">Lucida Sans</button>
    <button onclick="location.href='/set/achromatopsia_courier'">Courier New</button><br/><br/>


</div>

    
{% endblock %}