{% extends 'base.html' %}

{% block title %}Agility App{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1>Account Details</h1><br/>
    <strong>Name:</strong>
	{{ current_user.name }}<br/><br/>

	<strong>User ID:</strong>
	{{ current_user.id }}<br/><br/>

    <strong>Role:</strong>
	{{ current_user.role }}<br/><br/>

    <strong>Phone Number:</strong>
	{{ current_user.phone_number }}<br/><br/>

	<strong>Email:</strong>
	{{ current_user.email }}<br/><br/>

    <strong>Password:</strong>
	{{ current_user.password }}<br/><br/>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.email}}
        {{ form.password}}
        {{ form.submit}}
    </form>

    </div>

    
{% endblock %}