{% if (target != "page_content")%}
    {% extends 'base.html' %}

    {% block title %}Agility App{% endblock %}

    {% block header %}{% endblock %}
{% endif %}
    {% block content %}
        <div id="page_content">
        
    <h2 class="pb-3">Account Details</h2>
            <strong>Name:</strong>
            {{ current_user.name }}<br/><br/>

            <strong>User ID:</strong>
            {{ current_user.id }}<br/><br/>

            <strong>Role:</strong>
            {{ current_user.role.value }}<br/><br/>

            <strong>Phone Number:</strong>
            {{ current_user.phone_number }}<br/><br/>

            <strong>Email:</strong>
            {{ current_user.email }}<br/><br/>

            <strong>Password:</strong>
            {{ current_user.password }}<br/><br/>
            
            <form method="POST" action="" class="d-flex flex-row align-items-center flex-wrap">
                {{ form.hidden_tag() }}
                    {{ form.password(class_="form-control my-1 me-2 w-25") }}
                    {{ form.submit(class_="btn btn-custom-primary my-1 me-2", _style="display: inline;")}}
            </form>

            <h2 class="pt-5 pb-3">Customize</h2>
            <strong><label for="colorpicker">Colour Picker:</label></strong>
            <input type="color" id="colorpicker" value="#0000ff" class="form-control form-control-color" style="display: inline;"><br/><br/>

            <strong><label for="fontSelector">Select Font:</label></strong>
            <select id="fontSelector" class="form-select form-select-sm" style="display: inline; max-width: 180px">
                <option value="Arial, sans-serif">Arial</option>
                <option value="Times New Roman, serif">Times New Roman</option>
                <option value="Courier New, monospace">Courier New</option>
            </select>

            <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Font Selector
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" data-font='Arial, sans-serif'>Arial</a></li>
                    <li><a class="dropdown-item" data-font='Times New Roman, serif'>Times New Roman</a></li>
                    <li><a class="dropdown-item" data-font='Courier New, monospace'>Courier New</a></li>
                </ul>
            </div> -->
            <h2 class="pt-5 pb-3">Colour Blind Options</h2>
            <button  type="button" class="btn btn-secondary" style="margin-right: 10px;" onclick="location.href='/set/main'">Default</button>
            <button type="button" class="btn btn-custom-danger" style="margin-right: 10px;" onclick="location.href='/set/protanopia'">Protanopia</button>
            <button type="button" class="btn btn-custom-success" style="margin-right: 10px;" onclick="location.href='/set/deuteranopia'">Deuteranopia</button>
            <button type="button" class="btn btn-custom-primary" style="margin-right: 10px;" onclick="location.href='/set/tritanopia'">Tritanopia</button>
            <button type="button" class="btn btn-dark" style="margin-right: 10px;" onclick="location.href='/set/achromatopsia'">Achromatopsia</button>        
            
            <script>
                const colorPicker = document.getElementById("colorpicker");
                const header = document.querySelector("header");

                const savedColor = localStorage.getItem("headerBackgroundColor");
                if (savedColor) {
                    header.style.backgroundColor = savedColor;
                    colorPicker.value = savedColor;
                }

                // Add an event listener to update local storage and header color
                colorPicker.addEventListener("input", function () {
                    const selectedColor = colorPicker.value;
                    header.style.backgroundColor = selectedColor;
                    localStorage.setItem("headerBackgroundColor", selectedColor);
                })

                const dropdownItems = document.querySelectorAll(".dropdown-item");
                const body = document.body;

                // Get the selected font from local storage
                const savedFont = localStorage.getItem("selectedFont");
                if (savedFont) {
                    body.style.fontFamily = savedFont;
                    fontSelector.value = savedFont;
                }

                // Add an event listener to update local storage and font family
                fontSelector.addEventListener("change", function () {
                    const selectedFont = fontSelector.value;
                    body.style.fontFamily = selectedFont;
                    localStorage.setItem("selectedFont", selectedFont);
                });

                // dropdownItems.forEach(item => {
                //     item.addEventListener("click", function () {
                //     const selectedFont = item.getAttribute("data-font");
                //     body.style.fontFamily = selectedFont;
                //     });
                // });
            </script>

            {% if admin %} 
                <h1 class="pt-5">User Details</h1>
                {% include 'user_list.html' %}
            {%- endif %} 
        </div>
    {% endblock %}
