<div id="page_content">
    <div class="row" style="height: 90vh">
        {% if (show_task_panel): %}
            <div class="col-9" style="height: 100%; overflow-y: scroll;">
                {% include 'task_area.html' %}
            </div>
            <div class="col-3" style="height: 110%; overflow-y: scroll;">
                <div id="task_panel"></div>
            </div>
        {% else %}
            <div class="col" style="height: 110%; overflow-y: scroll;">
                {% include 'task_area.html' %}
            </div>
        {% endif %}
    </div>
</div>