<div id="page_content">
    <div class="row" style="height: 90vh">
        <div class="col" style="height: 100%; overflow-y: scroll;">
            <div id="task_area">
                {% include 'sprint_area.html' %}
                <div id="sprint_add">
                    <form action="/sprint/add/" id="form_sprint_add" method="POST" onsubmit="this.requestSubmit(); setTimeout(()=>{document.getElementById('form_sprint_add').reset()}, 1);">
                        <label for="sprint_name" class="form-label"><h5>Add Sprint:</h5></label>
                        <input method="POST" type="text" name="sprint_name" class="form-control" required="true" placeholder="Enter new sprint name" />
                        <button type="submit" class="btn btn-custom-primary" style="display:inline">Add</button>
                    </form>
                </div>
                {% include 'task_list.html' %}
                <div id="task_add">
                    <!-- HTML form to add tasks  -->
                    <form action="/task/add/" id="form_task_add" method="POST" onsubmit="this.requestSubmit(); setTimeout(()=>{document.getElementById('form_task_add').reset()}, 1);">
                        <label for="task_name" class="form-label"><h5>Add Task:</h5></label>
                        <input method="POST" type="text" name="task_name" class="form-control" required="true" placeholder="Enter task name" />
                        <button type="submit" class="btn btn-custom-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="side_panel"></div>
    </div>
</div>