{% extends 'base.html' %}

{% block title %}Sprint{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<button id="generate-table" class="btn btn-primary">Generate Table</button>
<div id="table-container"></div>
<div class="container">

    <table class="table" id="tasktable">
        <thead>
            <tr>
                <th>No.</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody class="row-position">
            {% for i in range(tasks|length): %}
                <tr data-id="{{ tasks[i].id }}" class="draggable">
                    <td>{{i+1}}.</td>
                    <td>{{ tasks[i].description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $('#generate-table').click(function() {
        // Create the generated table when the button is clicked
        $('#table-container').html('<table id="generated-table" class="table">\
                <thead><tr><th>No.</th><th>Task</th></tr></thead><tbody><tr class="draggable"></tr></tbody></table>');
        $('#tasktable tbody,#generated-table').sortable({
        connectWith:"#generated-table",
        dropOnEmpty: true
        })
        $('#generated-table tbody').sortable({
            connectWith:"#tasktable",
            dropOnEmpty: true,
        });
    });
    </script>
{% endblock %}