<div id="task_edit">
  <h2 style="display: inline;">
    Edit Task
    <h3 style="display: inline;">
      <form action="/task/panel/hide/" method="POST" style="display: inline;">
        <button type="submit" class="btn-close">&nbsp;</button>
      </form>
    </h3>
  </h2>
  <form class="mb-1 mt-1" action="/task/edit/{{ task.id }}" method="POST">
      <label for="task_name" class="form-label">Name:</label>
      <input type="text" name="task_name" class="form-control" required="true" value="{{task.name}}"/>
      <label for="task_description" class="form-label">Description:</label>
      <input type="text" name="task_description" class="form-control" value="{{task.description}}"/>
      <label for="task_priority" class="form-label">Priority:</label>
      <input type="number" name="task_priority" class="form-control" value="{{task.priority}}" min="0"/>
      <label for="task_status" class="form-label">Status:</label>
      <select class="form-select" name="task_status">
        {% for status in TaskStatus: %}
            <option value="{{status.name}}" {% if task.status == status %} selected {% endif %}>{{status.value}}</option>
        {% endfor %}
      </select>
      <label for="task_estimated_effort" class="form-label">Story Point Estimate:</label>
      <input type="number" name="task_estimated_effort" class="form-control" value="{{task.estimated_effort}}" min="0"/>
      <label for="task_start_date" class="form-label">Start Date:</label>
      <input type="datetime-local" name="task_start_date" class="form-control" value="{{task.start_date}}"/>
      <label for="task_due_date" class="form-label">End Date:</label>
      <input type="datetime-local" name="task_due_date" class="form-control" value="{{task.due_date}}"/>
      <label for="task_assignee" class="form-label">Assignee:</label>
      <select class="form-select" name="task_assignee">
        <option value="None" >None</option>
        {% for user in users: %}
            <option value="{{user.id}}" {% if task.assignee == user.id %} selected {% endif %}>{{user.name}}</option>
        {% endfor %}
      </select>
      <label for="task_hours_taken" class="form-label">Hours Taken:</label>
      <input type="number" name="task_hours_taken" class="form-control" value="{{task.hours_taken}}" min="0"/>
      <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>