<!-- HTML table to display all tasks  -->
<div id="task_list">
    <h1>Tasks</h1>
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th>No.</th>
                <th>Task</th>
                {% if show_edit == True %}
                    <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(tasks|length): %}
                <tr>
                    <td>{{i+1}}.</td>
                    <td>{{ tasks[i].description }}</td>
                    {% if show_edit == True %}
                        <td>
                            <form action="/task/edit/view/{{ tasks[i].id }}" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-success">Edit</button>
                            </form>
                            <form action="/task/remove/{{ tasks[i].id }}" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                        <td>
                            <div id="task_edit_view_{{ tasks[i].id }}"></div>
                        </td>
                    {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>