<div id="user_list">
{% if notaccountpage %}
<h1>Users</h1>
{%- endif %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

</script>
<table class="table">
    <thead class="table-secondary">
        <tr>
            <th>ID</th>
            <th>Name</th>
            {% if admin %} 
                {% if notaccountpage %} 
                <th>Team Selection</th>
                {%- endif %} 
                {% if notaccountpage == False %}
                <th>Details</th>
                <th></th>
                {%- endif %} 
            {%- endif %} 
        </tr>
    </thead>
    <tbody>
        {% for i in range(users|length): %}
            <tr>
                <td>{{users[i].id}}</td>
                <td>{{users[i].name}}</td>
                {% if admin %} 
                
                    {% if notaccountpage %} 
                    <td>
                    <form action="/teams/move/{{users[i].id}}" method="POST" id="move_user_{{users[i].id}}">
                        <label class="form-label" for="teams_select_{{users[i].id}}" ></label>
                    <select id="teams_select_{{users[i].id}}" name="teams_select_{{users[i].id}}" class="form-select"> 
                        <option value="" selected disabled hidden></option>
                        {% for i in range(teams|length): %}
                        <option value="{{teams[i].name}}">{{teams[i].name}}</option> 
                        {% endfor %}
                    </select>
                    
                    <td><button class="btn btn-custom-primary" onclick="document.querySelector('#move_user_{{users[i].id}}').requestSubmit()">Add to Team</button></td>
                    </form>
                    </td>
                    {%- endif %} 
                    {% if notaccountpage == False %}
                    <td>{{users[i].email}}
                        <form method="POST" action="/users/edit/{{users[i].id}}/1">
                            <label for="email_change"></label>
                            <input type="text" id="email_change" name="email_change">
                            
                            <button method="post">Change Email</button>
                        </form></td>
                    <td>{{users[i].phone_number}}
                        <form method="POST" action="/users/edit/{{users[i].id}}/2">
                            <label for="phone_change"></label>
                            <input type="text" id="phone_change" name="phone_change">
                            <button method="post">Change Phone Number</button>
                        </form></td>
                    <td>
                        <form class="form-inline" action="/users/delete/{{users[i].id}}" method="POST">
                             
                            <a href="/users/delete/{{users[i].id}}" data-turbo-method="post" class="btn btn-custom-primary"><i class="material-icons">delete</i> Delete User</a>
                        </form>
                    </td>
                    {%- endif %} 
                {%- endif %} 
                
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

